div {
	border:1px solid red; 
	width:230px;
	height: 250px;
	padding:2px;
}	
p{
	text-align: center 

}
div {
	border:1px solid red; 
	width:230px;
	height: 250px;
	padding:2px;
}	
p{
	text-align: center 

}
div {
	border:1px solid red; 
	width:230px;
	height: 250px;
	padding:2px;
}
p{
	text-align: center 

}